@use "@styles/abstracts" as a;

.header {
  color: a.$white;
  margin-bottom: 2rem;
}

.main-nav {
  @extend %flex-a--center;
  justify-content: space-between;
  padding: 5px 20px;

  &-item {
    font-weight: bold;
    color: a.$indigo;
    margin-right: 0.5rem;

    &.active {
      color: a.$green;
    }

    &:hover {
      text-decoration: underline;
    }

    & i {
      padding-right: 0.5rem;
    }
  }

  &-logo {
    @extend %flex-a--center;
  }

  &-logo-image {
    width: 200px;
  }
}
