@use "@styles/abstracts" as a;

.main-nav {
  @extend %flex-a--center;
  justify-content: space-between;
  padding: 5px 20px;

  &-item {
    text-decoration: none;
    font-weight: bold;
    color: a.$indigo;
    margin-right: 0.5rem;

    &:hover {
      text-decoration: underline;
    }

    & i {
      padding-right: 0.5rem;
    }
  }

  &-logo {
    @extend %flex-a--center;
  }

  &-logo-image {
    width: 200px;
  }
}
