/// $Colors

// text / footer background
$black: #000;

// header background
// a.$white
$white: #fff;

// text color
$dark: #222;

// background color
$dark-blue: #12002b;

// footer border color
$gray: #ccc;

// text color
$indigo: #2c3e50;

// link active
$green: #42b983;

// features icons
$green-light: #00bc77;

// error text
$red: #b22222;
