/// $Colors

// text / footer background
$black: #000;

// header background OK
// a.$white
$white: #fff;

// branding
$red: #ff6060;

// background color OK
$dark-blue: #12002b;

// footer border color OK
$gray: #ccc;

// text color OK
$indigo: #2c3e50;

// link active OK
$green: #42b983;

// star
$light-gray: #e3e3e3;
