/// $Colors

// text / footer background
$black: #000;

// header background OK
// a.$white
$white: #fff;

// text color OK
$dark: #222;

// background color OK
$dark-blue: #12002b;

// footer border color OK
$gray: #ccc;

// text color OK
$indigo: #2c3e50;

// link active OK
$green: #42b983;

// features icons OK
$green-light: #00bc77;

// error text OK
$red: #b22222;

// star
$light-gray: #e3e3e3;
