@use "@styles/abstracts" as a;

.features {
  @extend %flex-column;
  @include a.bp(large) {
    flex-direction: row;
  }
}

.feature-icon {
  width: 100px;
  border: 10px solid a.$green-light;
  border-radius: 50%;
  padding: 1rem;
}

.feature-item {
  flex: 1;
  padding: 2.5rem;

  &-title {
    color: a.$dark;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
}
