@use "@styles/abstracts" as a;

.edit-button,
.transaction-button {
  border-color: a.$green-light;
  background-color: a.$green-light;
  color: a.$white;
  font-weight: bold;
}

.edit-button {
  padding: 10px;
}

.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  margin-top: 1rem;
  @include a.bp(medium) {
    width: 200px;
  }
}
